# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
migrations/
*.db

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
eggs/
*.egg-info/
*.egg

# Logs
*.log
logs/



# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# Python environment files
*.env
*.venv
*.requirements.txt
*.pdb
*.coverage
.coverage.*

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# Pyre type checker
.pyre/

# Pylint
.pylint.d/

# VS Code settings
.vscode/settings.json

# Other files to ignore
*.db
*.sqlite3


# TAILWIND
node_modules/

